{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="text-center mt-4 mr-4">
  <div class="mr-5">
    <img src="{% static 'core/images/pic.jpg' %}" alt="ProfilePic" class="img-thumbnail " width="150px" height="150px"  >
  </div>

<div class=" mt-5 text-left text-white">
  <h1 class="font-weight-bold st-font">Hello,</h1>
</div>
<div class="text-white text-justify px-5 line-height:2rem">
  <p style="text-indent:100px;">I am  <b class='text-warning'> Gautam Govinda</b>, having three years experience in software development.My experience in software development as a backend development.I have expertise in <b>Python and javascript</b>  language.I have one year experience in <b>Django framework.</b> ,I have good hand at <b>AWS,LINUX</b> and knowledge of both relational databases (MYSQL)and non-relational databases(Mongo DB).
  <p style="text-indent:100px;">I completed by B.E. in Electronics and Communication from <b></b> Delhi College of Engineering(DCE).I got my first placement in Havells and second in TRAI.I worked as Graduate Engineer Trainee in Havells for two months and worked as Research Officer in TRAI for 2 years.After that I worked as Software Developer in Khanaman ,a food-delivery website in Ranchi for one and half year.</p>

</div>
<div class="text-center">
  <a href="" class="btn btn-outline-warning my-3 mr-5 ">Hire me</a>
  <a href="" class="btn btn-outline-info my-3">Contact</a>
</div>


</div>
{% endblock content %}
