{% extends 'core/base.html' %}
{% block title%} Skill {% endblock title%}
{% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom" >SKILLS</h1>

  <div class="row text-white">
    <div class="col-sm-5">
      <h3 class="mt-5">HTML/CSS</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width:90%;" aria-valuenow="90" aria-valuemin="100" aria-valuemin="100">90%</div>

      </div>


    </div>
    <div class="col-sm-5 offset-sm-2">
      <h3 class="mt-5">PYTHON</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:95%;" aria-valuenow="95" aria-valuemin="100" aria-valuemin="100">95%</div>

      </div>


    </div>
    <div class="col-sm-5 ">
      <h3 class="mt-5">DJANGO</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:80%;" aria-valuenow="80" aria-valuemin="100" aria-valuemin="100">80%</div>

      </div>


    </div>
    <div class="col-sm-5 offset-sm-2">
      <h3 class="mt-5">MYSQL</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:70%;" aria-valuenow="70" aria-valuemin="100" aria-valuemin="100">70%</div>

      </div>


    </div>
    <div class="col-sm-5 ">
      <h3 class="mt-5">LINUX</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" style="width:50%;" aria-valuenow="50" aria-valuemin="100" aria-valuemin="100">50%</div>

      </div>


    </div>
    <div class="col-sm-5 offset-sm-2">
      <h3 class="mt-5">MongoDB</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info-success" role="progressbar" style="width:60%;" aria-valuenow="60" aria-valuemin="100" aria-valuemin="100">60%</div>

      </div>


    </div>

  </div>


</div>




{% endblock content %}
